#!/usr/bin/env bash

# Use the flake's FHS environment
use flake

# uv virtual environment setup
VENV_NAME=".venv"

if [[ ! -d "${VENV_NAME}" ]]; then
    uv venv ${VENV_NAME}
fi

PATH_add "${VENV_NAME}/bin"
